
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1>@ViewBag.v0</h1>

<div class="alert alert-primary">Toplam Yetenek Sayısı: @ViewBag.v1</div>
<div class="alert alert-danger">Toplam Yetenek Puanı: @ViewBag.v2</div>
<div class="alert alert-success">Değerleri 70'den büyük Olan' Yetenek Sayısı: @ViewBag.v3</div>
<div class="alert alert-warning">Yeteneklerin Ortalama Değeri: @ViewBag.v4</div>
<div class="alert alert-info">Deneyim Sayısı: @ViewBag.v5</div>
<div class="alert alert-dark">Altbaşlığı Developer Sayısı: @ViewBag.v6</div>
<div class="alert alert-danger">Referans Sayısı: @ViewBag.v7</div>
<div class="alert alert-success">Hizmet Sayısı: @ViewBag.v8</div>
<div class="alert alert-primary">Okunmuş Mesaj Sayısı: @ViewBag.v9</div>
<div class="alert alert-danger">Okunmamış Mesaj Sayısı: @ViewBag.v10</div>