@model List<Portfolio>
@{
    ViewData["Title"] = "PortfolioList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
<h2>Portfolyö Listesi</h2>
<br />
<a href="/Portfolio/CreatePortfolio" class="btn btn-primary">Yeni Portfolyö Ekle</a>
<br />

<div class="container mt-5">
    <div class="row">

        @foreach (var item in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card" style="width: 18rem;">
                    <img src="@item.ImageUrl" class="card-img-top" alt="@item.Title">
                    <div class="card-body">
                        <h5 class="card-title">@item.Title</h5>
                        <h6 class="card-subtitle mb-2 text-muted">@item.Description</h6>
                        <p class="card-text"><strong>@item.Category.CategoryName</strong></p>
                        <div class="d-flex justify-content-start">
                            <a href="/Portfolio/DeletePortfolio/@item.PortfolioId" class="btn btn-danger mr-2">Sil</a>
                            <a href="/Portfolio/UpdatePortfolio/@item.PortfolioId" class="btn btn-warning">Güncelle</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>