@model List<Portfolio>
<div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">

    @foreach(var item in Model)
    {
        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-@item.CategoryId">
            <img src="@item.ImageUrl" class="img-fluid" alt="">
            <div class="portfolio-info">
                <h4>@item.Title</h4>
                <p>@item.Description</p>
                <a href="@item.ImageUrl" title="@item.Title" data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                <a href="#" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
            </div>
        </div>
        <!-- End Portfolio Item -->
    }
</div>